<div class="text_box">
    <center><h1>{{title}}</h1></center>

    <p>
        The name is Ivo, Ivo Velthoven to be precise. 
        That's it for my cheesy intro, so the question is <span class="colored">WHO AM I?</span>
        <br><br>    
        I would say that I'm just your average IT Nerd with who is very ambitious and loves his trade.
        I like learning new things in this trade and love doing projects in my free time. I try to devote 
        as much of my freetime in it as possible.
        <br><br>
        <span class="colored">Q&A?</span><br>
        Okay but just a small one
        <br><br>
        <span class="colored">Now a critic might say well anyone could say this how do I know this to be true?</span>
        <br>
        Well you can't really, most small things I keep for myself while I do have so simple things on GitHub
        which you might want to check out.
    </p>
</div>
<div class="skills">
    <h2>Skills</h2>
    <p><i>“In a dark place we find ourselves, and a little more knowledge lights our way.”</i><br></p>
    <div class="skill_box">
        <h2>Javascript</h2>
        <i>Intermediate</i>
        <p>
            Level: 6<br><br>
            <b>Small Description:</b><br>
            I'm able to make a simple web applications/website using javascript for front-end and back-end. Courses done on JQuery, AngularJS, NodeJS with SQLite3 and ExpressJS. 
        </p>
    </div>
    <div class="skill_box">
        <h2>CSS/SASS</h2>
        <i>Intermediate/Expert</i>
        <p>
            Level: 8<br><br>
            <b>Small Description:</b><br>
            I've recently learned Sass to use with my applications for easier and better maintaining CSS. I've done courses for responsive web design, (regular) web design, CSS and Sass.
        </p>
    </div>
    <div class="skill_box">
        <h2>HTML</h2>
        <i>Expert</i>
        <p>
            Level: 9<br><br>
            <b>Small Description:</b><br>
            There is not much to it, for most developers this is the basic of the basic. I can easily write some good working HTML. The first time I've seen this (and learned it) was back in 2016 at <a href="https://www.freecodecamp.org/">Freecodecamp</a>
        </p>
    </div>
    <div class="skill_box">
        <h2>Ethical Hacking</h2>
        <i>Script Kiddie</i>
        <p>
            Level: 2<br><br>
            <b>Small Description:</b><br>
            Although my interest in Ethical Hacking is enormous, my time and annoyance for theoratical learning blocks me from getting good at it. I will try to devode as much time to this as it is a great interest of mine.
        </p>
    </div>
    <div class="skill_box">
        <h2>Web/Gameserver Hosting</h2>
        <i>Intermediate</i>
        <p>
            Level: 7<br><br>
            <b>Small Description:</b><br>
            I've hosted a few sites/ gameservers in the past nothing too big but it had good quality. I'm very familiar with Nginx, Apache and setting up CMS like Wordpress and MyBB.
        </p>
    </div>
    <div class="skill_box">
        <h2>Python, MySQL, Java</h2>
        <i>Beginner</i>
        <p>
            <b>Small Description:</b><br>
            I've had a few courses about these subjects, meaning that I'm quitte familiar with them just that I haven't done that much with it, meaning I won't be as skilled with it like other subjects.
        </p>
    </div>
</div>
<div class="text_box">
    <h2>CV</h2>
</div>