<div class="index">
    <h1>Ivo <span class="colored">Velthoven</span></h1>

    <p id="title_description"></p>
    <p id="title_description_text">I am a great many things from <span class="colored">{{job_min}}</span> to <span class="colored">{{job_max}}</span></p>
</div>


