
<div id="overlay"></div>
<div class="version_control">
    V{{version}}
</div>
<h1>Ivo <span class="colored">Velthoven</span></h1>

<p id="title_description"></p>
<p id="title_description_text">I am a great many things from <span class="colored">{{job_min}}</span> to <span class="colored">{{job_max}}</span></p>

<i id="pages_menu"class="fas fa-chevron-circle-up"></i>
<div class="menu">
    <div class="social_media">
        <a target="_blank"href="https://github.com/ivelthoven">
        <i class="fab fa-github"></i>   
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/ivo-velthoven/">
            <i class="fab fa-linkedin"></i>
        </a>

        <i class="fab fa-twitter"></i> <!-- ON HOVER TEXT BOX EFFECT -->
    </div>
    
        <button class="pages" id="about">ABOUT</button>
        <button class="pages" id="projects">PROJECTS</button>
        <button class="pages" id="contact">CONTACT</button>

</div>


