
<div id="overlay"></div>
<h1>Ivo <span class="colored">Velthoven</span></h1>

<p id="title_description"></p>
<p id="title_description_text">I am a great many things from <span class="colored">{{job_min}}</span> to <span class="colored">{{job_max}}</span></p>

<a target="_blank"href="https://github.com/ivelthoven">
    <i class="fab fa-github"></i>   
</a>
<a target="_blank" href="https://www.linkedin.com/in/ivo-velthoven/">
    <i class="fab fa-linkedin"></i>
</a>

<i class="fab fa-twitter"></i>
