<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="./javascripts/jquery-3.x.min.js"></script>
  </head>
  <body>
    <div id="overlay"></div>
    <div class="version_control">
        V{{version}}
    </div>
    {{{body}}}

    <i id="pages_menu"class="fas fa-chevron-circle-up"></i>
    <div class="menu">
        <div class="social_media">
            <a target="_blank"href="https://github.com/ivelthoven">
              <i class="fab fa-github"></i>   
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/ivo-velthoven/">
                <i class="fab fa-linkedin"></i>
            </a>

            <i class="fab fa-twitter"></i> <!-- ON HOVER TEXT BOX EFFECT -->
        </div>
        <a href="/about">
            <button class="pages" id="about">ABOUT</button>
        </a>
        <a href="/projects">
            <button class="pages" id="projects">PROJECTS</button>
        </a>
        <a href="contact">
            <button class="pages" id="contact">CONTACT</button>
        </a>
    </div>
    
    <footer>
        &copy;ivelthoven.nl
    </footer>

    <script src="./javascripts/main.js"></script>
  </body>
</html>


