<div class="text_box">
    <center><h1>{{title}}</h1></center>
    <div class="project_box">
        <div class="tags">
            <div class="tag red">Javascript</div>
            <div class="tag blue">HTML</div>
            <div class="tag green">CSS</div>
        </div>
        <div class="colored"><h3>Quiz</h3></div>
        <p class="date">September 2018</p>
        <p><b>
            A very simplistic quiz made for a programming assignment for the study.
        </b></p>
        <img src="./images/projects/quiz/1.png" alt="Quiz Image">

    </div>
    <div class="project_box">
        <div class="tags">
            <div class="tag blue">HTML</div>
            <div class="tag green">CSS</div>
        </div>
        <div class="colored"><h3>OG Portfolio</h3></div>
        <p class="date">Somewhere around begin 2018</p>
        <p><b>
            A simple static landing page portfolio, which is a bit outdated.
        </b></p>
        <img src="./images/projects/ivelthoven/1.png" alt="Old Portfolio Image">
    </div>
    <h3>More coming soon...</h3>
</div>