$primary_color: #444
$secundary_color: orange

@mixin background-size ($value:cover)
  background-attachment: fixed
  background-repeat: no-repeat
  -webkit-background-size: $value
  -moz-background-size: $value
  -o-background-size: $value
  background-size: $value
  
body
  font: 1.8vw "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url("../images/back1.jpg") 
  @include background-size()
  margin: 0
  color: white
  text-align: center

  .index
    padding: 10%
  .text_box
    padding: 10%
    padding-left: 17%
    padding-right: 17%
    text-align: left
  .project_box
    background-color: #222
    padding: 4%
    box-shadow: 5px 5px 10px black
    position: relative
    width: 92%
    border-radius: 10px
    text-align: center
    margin-bottom: 5%
    .tags
      position: absolute
      left: 10
      top: 10
      .tag
        float: left
        padding: 3px
        font-size: 1.2vw
        margin-right: 10px
      .blue
        background-color: blue
      .red
        background-color: red
      .green
        background-color: green
    .date
      position: absolute
      right: 12px
      top: 0
      font-size: 1vw
    p
      color: rgb(200,200,200)
      font-size: 1.4vw
    img 
      border-radius: 5px
      width: 50vw
      transition: 1s
      filter: greyscale()
      &:hover
        filter: saturate(3)

  .colored 
    color: $secundary_color
  #overlay 
    background-color: $primary_color
    opacity: 0.8
    z-index: -1
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
  footer 
    position: fixed
    color: #222
    bottom: 0
    right: 20px
    font-size: 1vw
a
  text-decoration: none
  color: rgb(200,100,0)
  &:hover
    color: rgb(250,150,0)
i
  color: $secundary_color
  //display: none
  font-size: 60px
  margin: 5%
  &:hover
    list-style-image: "this is text"
    cursor: pointer
    color: yellow
    content: TEST

button 
  position: relative
  box-shadow: 2px 2px 15px black
  margin: 3%
  width: 25%
  font-size: 2vw
  border: none
  color: white
  padding: 50px
  background-color: #444
  transition: 1s
  &:hover 
    background-color: #222
    color: $secundary_color
    transition: 1.5s
    cursor: pointer

#title_description_text 
  display: none

.version_control
  font-size: 1.1vw
  background-color: #444
  padding: 5px
  width: 5%
  position: fixed
  top: 0
  left: 0
  &:hover
    background-color: #555
    cursor: pointer

#pages_menu
  position: fixed
  z-index: 100
  bottom: 0
  left: 50%
  transform-origin: 25% 25%
  transform: translate(-50%, -50%)
  margin: 0
  transition: 3s
  &.clicked
    transform-origin: 25% 25%
    transform: rotate(180deg)
    transition: 3s
.menu
  background-color: #333333
  position: fixed
  bottom: -35%
  left: 0
  width: 100%
  .pages
    position: relative
    box-shadow: 2px 2px 15px black
    margin: 3%
    width: 25%
    font-size: 2vw
    border: none
    color: white
    padding: 50px
    background-color: #444
    transition: 1s
    &:hover 
      background-color: #222
      color: $secundary_color
      transition: 1.5s
      cursor: pointer
  .social_media
    background-color: #222
    box-shadow: 5px 5px 10px rgb(10,10,10)
    position: relative
    width: 40%
    left: 50%
    transform: translate(-50%,-10%)

    i
      margin-left: 50px
      margin-right: 50px

.skills 
  width: 100%
  margin-top: 5%
  position: relative
  overflow: auto
  left: 0
  background-color: #333333
  padding-top: 50px
  padding-bottom: 50px 
  i
    font-size: 1.8vw
    &:hover 
      color: $secundary_color
      cursor: auto
  .skill_box
    background-color: #222
    width: 25%
    padding: 20px
    margin: 2%
    float: left
    p 
      font-size: 1.4vw
      text-align: left


  
input[type=text], select, textarea 
  width: 100%
  padding: 12px
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  margin-top: 6px
  margin-bottom: 16px
  resize: vertical


input[type=submit] 
  background-color: darkorange
  color: white
  padding: 12px 20px
  border: none
  border-radius: 4px
  cursor: pointer


input[type=submit]:hover 
  background-color: orange

